.body {
    color: rgba(0, 0, 0, 0.4);
    color: hsl(48, 90%, 71%);
    color: hsl(214, 100%, 71%);
    color: hsl(131, 67%, 65%);
    color: hsl(192, 100%, 86%);
    color: hsl(113, 100%, 90%);
    color: hsl(300, 100%, 94%);
    color: hsl(175, 97%, 73%);
    color: #018b82;
}
